.edit-packet-modal .modal-content, .edit-node-modal .modal-content, .hide-nodes-modal .modal-content{
    background-color: #17161b;
}

.edit-packet-modal .form-control, .edit-node-modal .form-control{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 0.2) !important;
    color: #edeff3;
}

.packet-view-modal .modal-content, .mb-3{
    background-color: #17161b;
}


.packet-filter .form-control, .packet-sort .form-select{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 0.2) !important;
    color: #edeff3;
}

.packet-filter .form-control, .packet-sort .form-select, #node-icon{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 0.2) !important;
    color: #edeff3;
}

.dropdown-icon.dropdown {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 0.2) !important;
    color: #edeff3;
}

.label {
    font-size: 1.30em;
}

.replay-packet-button {
    width: 80px;
}


.selected-row td {
    background-color: #106cfc !important;
}

.selected-row:hover td {
    background-color: #105cd4 !important;
}

.non-selected-row:hover td {
    background-color: #38343c;
}

.replay-packet-table {
    overflow: scroll;
    white-space: nowrap;
}